<!DOCTYPE html>
<html lang="en" dir="ltr">

      <head>
        <meta charset="utf-8">
        <title>UniDL4BioPep</title>
        <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family==Rancho&effect=shadow-multiple' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		
		<style>
			.content {
			  max-width: 500px;
			  margin: auto;
			}
			
			</style>
    </head>
	
<body>
<div class="content">
    <body>

  
        <h1>UniDL4BioPep: A universal deep learning architecture for bioactive peptide prediction</h1>
        <p>The webserver is the implementation of the paper UniDL4BioPep: UniDL4BioPep: A universal deep learning architecture for binary classification in peptide bioactivity<p>
        <form action="{{url_for('predict')}}" method="post">
             <input type="text" name="Model selection" placeholder="input model index, example:11111" required="required">
            <input type="text" name="Peptide_sequences" placeholder="peptide sequence input, example: ASD,QWE,APE" required="required">
            <button type="submit" class="btn btn-primary btn-block btn-large">Run</button>
        </form>
        <br>
        <br>
        {{ prediction_text }}
        <h4>Usage of the webserver:<h4>
        <h5>1. Select a prediction model based on their index, 1. ACE inhibitory activity; 2. DPP IV inhibitory activity; 3. Bitter; 4. Umami; 5.Antimicrobial activity; 6. Antimalarial activity (main dataset); 7. Antimalarial activity (alternative dataset); 8. Quorum sensing activity; 9. Anticancer activity (main dataset); 10. Anticancer activity (alternative dataset); 11. Anti-MRSA strains activity; 12. Tumor T cell antigens<h5>
        <h5>2. Input your peptide sequence and separate them by comma
        <h5>Example: you can input 1 in the first box and ARG,IPI,CCL,FIRST; Than means you want to use "ACE inhibitory activity prediction model" to predict the bioactivity of the four peptide sequences <h5>
        <img src="static/css/Whole architecture.png" alt="Whole architecture" width="1000" height="410" style="float:left">		
</div>
</div>
</html>
